# Ambientes Virtuais
venv/
.venv/
env/
bin/
lib/
include/
.env

# Banco de Dados (Subiremos o script de criação, não os dados populados)
*.db
*.sqlite
*.sqlite3

# Dados Brutos e Datalake (Dados da API ficam no seu computador/datalake)
data/raw/
data/database
*.csv
*.json

# Cache do Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Configurações de IDE
.vscode/
.idea/

# Arquivos de Sistema
.DS_Store
Thumbs.db